$primary: #0f56b3;
$primary-light: #c5dcfa;
$black: #000000;
$white: #ffff;
$gray-bg: #fbfbfb;
$gray-dark: #787878;
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    font-family: 'Manrope', sans-serif;
}
ul {
    padding: 0;
    color: $gray-dark;
    margin: 0;
    li {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 0.75rem;
        align-items: center;
        padding: 0.8rem 1rem;
    }
}
.container {
    width: 100%;
}
.content {
    width: 100%;
    background-color: $primary;
    height: 100vh;
}
.sidebar {
    width: 248px;
    padding-right: 0.5rem;
    background-color: $white;
    height: 100%;
    transition: all 0.11s ease-in-out;
}
.menu {
    padding: 1rem;
    height: auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.75rem;
    align-items: baseline;
    &__button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        padding-right: 0;
        padding-left: 0.2rem;
    }
    &__brand {
        display: flex;
        column-gap: 0.75rem;
        p {
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
            white-space: nowrap;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
}
.active {
    width: 64px;
    padding-right: 0;
}
.hide-element {
    display: none;
    user-select: none;
}
.menu-shrink {
    padding-left: 0;
}
.hide-item-element {
    padding-right: 0;
}
.options__item__img {
    display: block;
    padding-left: 0.1rem;
    filter: invert(50%) sepia(9%) saturate(12%) hue-rotate(348deg)
        brightness(91%) contrast(82%);
}
.options__wrapper {
    cursor: pointer;
    :hover {
        background-color: $primary-light;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        .options__item__img {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            filter: invert(26%) sepia(20%) saturate(6518%) hue-rotate(201deg)
                brightness(92%) contrast(96%);
            &:hover {
                filter: none !important;
            }
        }
        .options__item__text {
            color: $primary;
        }
    }
}

.categories {
    font-size: 0.625rem;
    padding: 1rem 1rem 0.5rem;
    text-transform: uppercase;
}
